<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}
Habit Hero Register
{% endblock %}

{% block content %}

        <div class="aboutdiv">

            <h1 class="welcome2">ABOUT US</h1>
            <div class="fade-in-image">
                <img id="img1" src="{{url_for('static', filename='group.jpg')}}" width="500px">
            </div>
            <div class="about">
               

                <h3>Undergraduate Studies </h3>


                <p>The revolutionary app!</p>
            </div>
        </div>
    

{% endblock %}