<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="form-popup" id="myForm">
        <form method="POST" action="/habitats" class="form-group form-container" enctype="multipart/form-data">
            <h1>Create Habitat</h1><br>

            {{form.title.label}} {{form.title}}
            {{form.description.label}} {{form.description}}
            {{ form.habit.label }} {{ form.habit }}
            <div class="row">
                {{form.icon_image.label}} {{form.icon_image}}
            </div>
            <div class="row">
                {{ form.is_public.label }} {{ form.is_public }}
            </div>

            <button type="submit" class="btn">Create Habitat</button>

            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    
    <div class="navbar">
        <a href="{{url_for('home1')}}">Home</a>
        <a href="{{url_for('createhabits')}}">My Habits</a>
        <h1>Habit Hero</h1>
        <a href="{{url_for('habitats')}}">Habitats</a>
        <a href="{{url_for('profile')}}">
            <img class="profilePicture" alt="profile picture" src="{{ url_for('static', filename='images/profile_uploads/' + (user.profile_picture or 'profile_default.jpeg')) }}" >
        </a>
    </div>
    <main class="container_with_sidebar">
        <div class="sidebar">
            <button class="open-button" onclick="openForm()">Create Habitat</button>

            <!-- Below is in-progress search bar? -->
            <!-- <form method="GET" action="/search_habits" class="search-form">
                <input type="text" name="query" placeholder="Search habitatas..." class="search-input">
                
                <select name="habits" class="search-dropdown">
                    {% for habitat in habitats %}
                        <option value="{{ habitat.id }}">{{ habitat.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="search-button">Search</button>
                </form> -->

            {% for h in habitats %}

            <a class="habitat_item {% if h.id == habitat.id %} selected_habitat {% endif %}" href="{{ url_for('open_habitat', habitat_id=h.id) }}">
                <img class="habitat_icon" src="{{ url_for('static', filename='images/user_uploads/' + h.icon_image) }}">
                <div class="habitat_details">
                    <h3>{{ h.title }}</h3>
                    <p>{{ h.users_habit }}</p>
                </div>
            </a>
            
    
            {% endfor %}

        </div>

        <div class="habitat_view">

            {% if habitat %}
                
                <h1>{{ habitat.title }}</h1>
                <a id="chatroomLink" href="{{ url_for('chatroom', habitat_id=habitat.id) }}"> Go to chatroom →</a>

                <!-- Add a button to open the invitation form -->
                <button class="open-invitation-form" onclick="openInvitationForm()">Invite Members</button>

                <div id="memberList">

                    {% for habit in membersHabits %}
                        <div class="memberItem">

                            <img class="profileIcon" src="{{ url_for('static', filename='images/profile_uploads/' + habit.member.profile_picture) }}" onmouseenter="openProfilePopup(this, '{{ habit.member.score }}', '{{ habit.member.registered_on }}', `{{ habit.member.bio }}`)" onmouseout="closeProfilePopup()">

                            <div class="habitat_details">
                                <h3>{{ habit.member.first_name + ' ' + habit.member.last_name}}</h3>
                                <p>{{ habit.title }}</p>
                            </div>
                            
                            <div class="spacer"></div>
                            <div class="streak">
                                <p>{{ habit.streak }}</p>
            
                                {% if habit.done %}
                                <img src="static/images/flame_colored.png">
                                {% else %}
                                <img src="static/images/flame_grayscale.png">
                                {% endif %}
            
                            </div>
                        
                        </div>
                    {% endfor %}


                </div>

                <!-- Display details for the selected habitat -->
                <div id="invitationForm" class="invitation-form-popup">
                    <form method="POST" action="{{ url_for('send_invitations', habitat_id=habitat.id) }}" class="form-container form-group">
                        <p>Send an Invite to a Friend!</p> <br>
                        <label for="email">Email:</label>
                        <input type="email" name="email" required>
                        <button type="submit" class="btn">Send Invitation</button>
                        <button type="button" class="btn cancel" onclick="closeInvitationForm()">Cancel</button>
                    </form>
                </div>

                <div id="profilePopup">
                    <p>TESTING</p>
                </div>
                
                
                
            {% else %}
                <div class="centered vertically">
                    <p>No habitat is currently selected</p>
                </div>
                
                <!-- Your existing code for displaying habits -->
            {% endif %}

            <!-- <p>Not working yet..?</p>


            {% if habits %}
            <p><a href="{{url_for('chat')}}"><button>Navigate to Habitat Chat</button></a></p>
            {% for habit in habits %}
            <p>habit.user.first_name</p>
            {% endfor %}
            {% else %}

            {% endif %} -->
            
        </div>
    </main>
    <script>

        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

        function openInvitationForm() {
            document.getElementById("invitationForm").style.display = "block";
        }

        function closeInvitationForm() {
            document.getElementById("invitationForm").style.display = "none";
        }

        function openProfilePopup(element, score, registered_on, bio) {
            var popup = document.getElementById("profilePopup");
            
            // Convert the registered_on to a Date object
            var registrationDate = new Date(registered_on);

            // Format the date as "MMM DD, YYYY"
            var formattedDate = registrationDate.toLocaleDateString('en-US', {
                month: 'short',
                day: 'numeric',
                year: 'numeric'
            });

            console.log(formattedDate);

            // Get the position of the element
            var rect = element.getBoundingClientRect();

            // Set the position of the popup
            popup.style.display = "block";
            popup.style.top = (rect.top - 35) + "px";
            popup.style.left = (rect.left - 235) + "px";

            // Populate the popup with user information
            popup.innerHTML = `
                <div class='gemStat'>
                    <img src="static/images/gem.png">
                    <p> ${score} gems</p>
                </div>
                
                <p class="joinedDate" >Joined ${formattedDate}</p>

                <p>${bio}</p>
            `;
        }

        function closeProfilePopup() {
            document.getElementById("profilePopup").style.display = "none";
        }

    </script>
</body>
</html>

