<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="form-popup" id="myForm">
        <form method="POST" action="/habitats" class="form-container" enctype="multipart/form-data">
            <h1>Create Habitat</h1>

            {{form.title.label}} {{form.title}}
            {{form.description.label}} {{form.description}}
            {{form.icon_image.label}} {{form.icon_image}}
            {{ form.habit.label }} {{ form.habit }}
            <div>
                {{ form.is_private.label }} {{ form.is_private }}
            </div>

            <button type="submit" class="btn">Create Habitat</button>

            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    
    <div class="navbar">
        <a href="{{url_for('home1')}}">Home</a>
        <a href="{{url_for('createhabits')}}">My Habits</a>
        <h1>Habit Hero</h1>
        <a href="{{url_for('habitats')}}">Habitats</a>
        <a href="{{url_for('profile')}}">
            <img id="profilePicture2" class="forPic" alt="profile picture" src="{{ url_for('static', filename='images/profile_uploads/' + (user.profile_picture or 'profile_default.jpeg')) }}" >
        </a>
    </div>
    <main class="container_with_sidebar">
        <div class="sidebar">
            <button class="open-button" onclick="openForm()">Create Habitat</button>
            <form method="GET" action="/search_habits" class="search-form">
                <input type="text" name="query" placeholder="Search habitatas..." class="search-input">
                
                <select name="habits" class="search-dropdown">
                    {% for habitat in habitats %}
                        <option value="{{ habitat.id }}">{{ habitat.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="search-button">Search</button>
                </form>
            {% for habitat in habitats %}

            <a class="habitat_item" href="" onclick="selectHabitat(this, '{{habitat.id}}')">
                <img class="habitat_icon" src="{{ url_for('static', filename='images/user_uploads/' + habitat.icon_image) }}">
                <div class="habitat_details">
                    <h3>{{ habitat.title }}</h3>
                    <p>{{ habitat.users_habit }}</p>
                    <!-- <p>{{ habitat.user.habitats|length }} Inhabitants</p> -->
                </div>
            </a>
            
    
            {% endfor %}

            <!-- <div class="habitat_item selected_habitat">
                <img class="habitat_icon" src="static/images/checkmark.png">
                <div class="habitat_details">
                    <h3>Classical Guitar</h3>
                    <p>Practice guitar for 30 minutes</p>
                </div>
            </div>
            <div class="habitat_item">
                <img class="habitat_icon" src="static/images/checkmark.png">
                <div class="habitat_details">
                    <h3>Book Club</h3>
                    <p>Read one chapter</p>
                </div>
            </div> -->
        </div>

        <div class="habitat_view centered">

            <p>Not working yet..?</p>


            {% if habits %}
            <p><a href="{{url_for('chat')}}"><button>Navigate to Habitat Chat</button></a></p>
            {% for habit in habits %}
            <p>habit.user.first_name</p>
            {% endfor %}
            {% else %}

            {% endif %}
            
        </div>
    </main>
    <script>
        function selectHabitat(element, habitatId) {
            
            // Prevent the default behavior of the anchor tag
            event.preventDefault();     
            console.log(habitatId)
            // Remove the 'selected_habitat' class from all elements with the same class
            var habitatItems = document.querySelectorAll('.habitat_item');
            habitatItems.forEach(function(item) {
                item.classList.remove('selected_habitat');
            });

            // Add the 'selected_habitat' class to the clicked element
            element.classList.add('selected_habitat');
            showHabitatDetails(habitatId);
        }

        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
        function showHabitatDetails(habitatId) {
            // fetch(`/get_habitat_details/${habitatId}`)
            fetch(`/habitats/${habitatId}`)
                .then(response => response.json())
                .then(data => {
                    updateHabitatView(data);
                })
                .catch(error => console.error('Error fetching habitat details:', error));
        }

        function updateHabitatView(habitatDetails) {
            var habitatView = document.querySelector('.habitat_view');
            var membersHtml = '';

            habitatDetails.members.forEach(member => {
                membersHtml += `
                    <p>${member.first_name} ${member.last_name} - ${member.streak} <img src="static/images/flame_colored.png" alt="Flame" class="flame-icon"></p>
                `;
            });

            habitatView.innerHTML = `
                <div class="habitat-details">
                    <h2>${habitatDetails.title}</h2>
                    <img class="habitat-image" src="${habitatDetails.icon_image}" alt="${habitatDetails.title}">
                    <h3>Members</h3>
                    <div class="members-list">
                        ${membersHtml}
                    </div>
                </div>
            `;
        }

    </script>
</body>
</html>

