<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Habit Hero</h1>
        <ul>
            <li>My Habits</li>
            <li>Habitats</li>
        </ul>
        <img id="profilePicture" alt="profile picture" src="static/images/flame_colored.png">
    </header>
    <main>

        <!-- Hardcoded habit for reference -->
        <div class="habitItem">
            <button><img src="static/images/unchecked.png"></button>
            <p>Drink water</p>
            <div class="spacer"></div>
            <div class="streak">
                <p>10</p>
                <img src="static/images/flame_grayscale.png">
            </div>
        </div>

        <div class="habitItem checkedOff">
            <button><img src="static/images/checkmark.png"></button>
            <p>Drink water</p>
            <div class="spacer"></div>
            <div class="streak">
                <p>10</p>
                <img src="static/images/flame_colored.png">
            </div>
        </div>

        {% for habit in habits %}

            <div class="habitItem">
                <button>
                    {% if habit.done %}
                        <img src="static/images/checkmark.png">
                    {% else %}
                        <img src="static/images/unchecked.png">
                    {% endif %}
                </button>
                
                <p>{{ habit.title }}</p>
                <div class="spacer"></div>
                <div class="streak">
                    <p>{{ habit.streak }}</p>

                    {% if habit.done %}
                        <img src="static/images/flame_colored.png">
                    {% else %}
                        <img src="static/images/flame_grayscale.png">
                    {% endif %}
                    
                </div>
            </div>

        {% endfor %}
        
    </main>
</body>
</html>