<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Sortable JS script for ordering habits-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <title>Habits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="{{url_for('home1')}}">Home</a>
        <a href="{{url_for('createhabits')}}">My Habits</a>
        <h1>Habit Hero</h1>
        <a href="{{url_for('habitats')}}">Habitats</a>
        <a href="{{url_for('profile')}}">
            <img class="profilePicture" alt="profile picture" src="{{ url_for('static', filename='images/profile_uploads/' + (user.profile_picture or 'profile_default.jpeg')) }}" >
        </a>
    </div>
        
    <main>

       

        <button class="open-button" onclick="openForm()">Quick Add Habit</button>
        <button class="open-button" onclick="openFormSlow()">Slow Add Habit</button>
        

        <!-- <label for="email"><b>Habit Name</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required> -->
        <!-- The form -->
        <div class="form-popup" id="myForm">
            <form method="POST" action="/habits" class="form-container">
                <h1>Quick Add Habit</h1>

                {{form.title.label}} {{form.title}}

                <button type="submit" class="btn">Quick Add Habit</button>

                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>

        <div class="form-popup" id="myFormSlow">
            <form method="POST" action="/SlowAdd" class="form-container">
                <h1>Slow Add Habit</h1>

                {{form.title.label}} {{form.title}}
                {{ form.description.label }} {{ form.description }}
                <!--
                {% if form.description.data is not none %}
                    {{ form.description.label }} <label style="color: rgb(216, 33, 33);">{{ form.description.data }}</label>
                {% endif %}
                -->
                <button type="submit" class="btn">Slow Add Habit</button>

                <button type="button" class="btn cancel" onclick="closeFormSlow()">Close</button>
            </form>
        </div>

        <div class="form-popup" id="editForm">
            <form method="POST" id="editHabitForm" class="form-container">
                <h1>Edit Habit</h1>
                {{ form.new_title.label }} {{ form.new_title }}
                {% if form.new_title.data is not none %}
                    {{ form.new_title.label }} {{ form.new_title.data }}
                {% endif %}
                
                {{ form.new_description.label }} {{ form.new_description }}
                {% if form.new_description.data is not none %}
                    {{ form.new_description.label }} {{ form.new_description.data }}
                {% endif %}
                
                <button type="button" class="btn" onclick="saveEdit()">Save Edit</button>
                <button type="button" class="btn cancel" onclick="closeEdit()">Cancel</button>
            </form>
        </div>


        <!-- Hardcoded habit for reference -->
        <!-- <div class="habitItem">
            <button><img src="static/images/unchecked.png"></button>
            <p>Drink water</p>
            <div class="spacer"></div>
            <div class="streak">
                <p>10</p>
                <img src="static/images/flame_grayscale.png">
            </div>
        </div>
        <div class="habitItem checkedOff">
            <button><img src="static/images/checkmark.png"></button>
            <p>Drink water</p>
            <div class="spacer"></div>
            <div class="streak">
                <p>10</p>
                <img src="static/images/flame_colored.png">
            </div>
        </div> -->
        
    <ul id="habits-list" class="sortable-list">
        {% for habit in habits %}
        <li data-habit-id="{{ habit.id }}" class="sortable-item">
            <div class="habitItem">
                <button class="checkmark" onclick="markAsDone('{{ habit.id }}')">
                    {% if habit.done %}
                    <img src="static/images/checkmark.png">
                    {% else %}
                    <img src="static/images/unchecked.png">
                    {% endif %}
                </button>

                <div class="habitDetails">
                    <p>{{ habit.title }}</p>
                    {% if habit.description %}
                        <p class="subHeader">{{ habit.description }}</p>
                    {% endif %}
                </div>
                
                <div class="spacer"></div>
                <div class="streak">
                    <p>{{ habit.streak }}</p>

                    {% if habit.done %}
                    <img src="static/images/flame_colored.png">
                    {% else %}
                    <img src="static/images/flame_grayscale.png">
                    {% endif %}

                </div>

                <button type="submit" class="btn" onclick="removeHabit('{{ habit.id }}')"><img id="delete_habit" src="static/images/remove.png" ></button>
                <button type="submit" class="btn" onclick="editHabit('{{ habit.id }}')"> Edit </button>
              
            </div>
        </li>
        {% endfor %}
    </ul>
    </main>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

        function openFormSlow() {
            document.getElementById("myFormSlow").style.display = "block";
        }

        function closeFormSlow() {
            document.getElementById("myFormSlow").style.display = "none";
        }

        function removeHabit(habitId) {
            if (confirm("Are you sure you want to delete this habit?")) {
                fetch(`/habits/${habitId}/delete`, { method: 'POST' })
                    .then(() => location.reload())
                    .catch(error => console.error('Error:', error));
            }
        }

        function markAsDone(habitId) {
            fetch(`/habits/${habitId}/update`, { method: 'POST' })
                    .then(() => location.reload())
                    .catch(error => console.error('Error:', error));
        }

        

        function closeEdit() {
            document.getElementById("editForm").style.display = "none";
        }

        document.addEventListener('DOMContentLoaded', function () {
            var habitsList = document.getElementById('habits-list');

            var sortable = new Sortable(habitsList, {
                handle: '.habitItem',
                onUpdate: function (event) {
                    saveOrder();
                    updateServerOrder();
                },
        });

        loadOrder();

        function saveOrder() {
            var habitIds = Array.from(habitsList.children).map(habit => habit.dataset.habitId);
            localStorage.setItem('habitOrder', JSON.stringify(habitIds));
        }

        function loadOrder() {
            var storedOrder = localStorage.getItem('habitOrder');
            if (storedOrder) {
                storedOrder = JSON.parse(storedOrder);
                for (var i = 0; i < storedOrder.length; i++) {
                    var habitElement = document.querySelector('[data-habit-id="' + storedOrder[i] + '"]');
                    if (habitElement) {
                        habitsList.appendChild(habitElement);
                    }
                }
            }
        }

        function updateServerOrder() {
            var habitIds = Array.from(habitsList.children).map(habit => habit.dataset.habitId);

            fetch('/update_habit_order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ habit_order: habitIds }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Habits ordered successfully');
                } else {
                    console.error('Failed to update habit order');
                }
            })
            .catch(error => {
                console.error('Error updating habit order:', error);
            });
        }
        });

        function editHabit(habitId, habitTitle, habitDescription) {
            const titleInput = document.querySelector("#editForm input[name='new_title']");
            const descriptionInput = document.querySelector("#editForm input[name='new_description']");

            document.getElementById("editForm").style.display = "block";
            document.getElementById("editHabitForm").setAttribute("data-habit-id", habitId);

            // Check if habitTitle is undefined or an empty string
            titleInput.value = habitTitle !== undefined && habitTitle !== "" ? habitTitle : titleInput.value;
            descriptionInput.value = habitDescription !== undefined ? habitDescription : "";
        }



        function saveEdit() {
            const habitId = document.getElementById("editHabitForm").getAttribute("data-habit-id");
            const newTitle = document.querySelector("#editForm input[name='new_title']").value; // Change 'title' to 'new_title'
            const newDescription = document.querySelector("#editForm input[name='new_description']").value; 
            const data = { id: habitId, new_title: newTitle, new_description: newDescription }; // Change 'title' to 'new_title'

            fetch(`/habits/${habitId}/edithabits`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    closeEdit();
                    location.reload();
                } else {
                    // Handle errors, display an error message, etc.
                }
            })
            .catch(error => console.error('Error:', error));
        }

    </script>
</body>

</html>