<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="form-popup" id="myForm">
            <form method="POST" action="/habitats" class="form-container" enctype="multipart/form-data">
                <h1>Create Habitat</h1>

                {{form.title.label}} {{form.title}}
                {{form.description.label}} {{form.description}}
                {{form.icon_image.label}}
                {{form.icon_image}}

                <button type="submit" class="btn">Create Habitat</button>

                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    
    <div class="navbar">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('createhabits')}}">My Habits</a>
        <h1>Habit Hero</h1>
        <a href="{{url_for('habitats')}}">Habitats</a>
        <a href="{{url_for('logout')}}">Logout</a>
        <img id="profilePicture" alt="profile picture" src="static/images/profile_default.jpeg">
    </div>
    <main class="container_with_sidebar">
        <div class="sidebar">
            <button class="open-button" onclick="openForm()">Create Habitat</button>

            {% for habitat in habitats %}
            <a class="habitat_item" href="{{url_for('createhabits')}}">
                <img class="habitat_icon" src="{{ url_for('static', filename=habitat.icon_image) }}">
                <div class="habitat_details">
                    <h3>{{ habitat.title }}</h3>
                    <p>Corresponding Habit</p>
                </div>
            </a>
            
    
            {% endfor %}

            <!-- <div class="habitat_item selected_habitat">
                <img class="habitat_icon" src="static/images/checkmark.png">
                <div class="habitat_details">
                    <h3>Classical Guitar</h3>
                    <p>Practice guitar for 30 minutes</p>
                </div>
            </div>
            <div class="habitat_item">
                <img class="habitat_icon" src="static/images/checkmark.png">
                <div class="habitat_details">
                    <h3>Book Club</h3>
                    <p>Read one chapter</p>
                </div>
            </div> -->
        </div>

        <div class="habitat_view centered">
            <p>No habitat is currently selected</p>
        </div>
    </main>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>
</html>