<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Habit Hero</h1>
        <ul>
            <li>My Habits</li>
            <li>Habitats</li>
        </ul>
        <img id="profilePicture" alt="profile picture" src="static/images/flame_colored.png">
    </header>
    <main>
        {% for habit in habits %}
            <div class="habitItem">
                <button>Done!</button>
                <p>{{ habit.title }}</p>
                <div class="spacer"></div>
                <div class="streak">
                    <p>{{ habit.streak }}</p>
                    <img src="static/images/flame_grayscale.png">
                </div>
            <!-- </div>
       
                    <p class="ptitle">
                        <a class="plink" href="{{ url_for('project_overview', project_id=project.id) }}">
                            {{ project.title }}
                        </a>
                    </p>
                </b>
            </div> -->
        {% endfor %}
        
    </main>
</body>
</html>