<!DOCTYPE html>

<head>
    <title>Habit Hero Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="navbar">
        <a href="{{url_for('home1')}}">Home</a>
        <a href="{{url_for('createhabits')}}">My Habits</a>
        <h1>Habit Hero</h1>
        <a href="{{url_for('habitats')}}">Habitats</a>
        <a href="{{url_for('logout')}}">Logout</a>
        <a href="{{url_for('profile')}}">
            <img id="profilePicture" alt="profile picture" src="static/images/profile_default.jpeg">
        </a>
    </div>
    <div class="body-content">

        <hr/>
    </div>
    <div class="landingmain">
        <h1>Continue Becoming The Hero You Need</h1>
        <p>Always be ready to enhance your positive habits with friends!</p>

        <div class = "joinnow">
            <a href="{{ url_for('habitats') }}">See Your Friends in Your Habitats!</a>
        </div>
        

        

        <div class="landingabout">
            <h3>Our Goal</h3>
            <p>We want to create an environment that promotes the creation of better habits. There's no better motivator than your friends.</p>
        </div>
    </div>
</body>
