<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Habits</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

<body>
    <div class="navbar">
        <a href="{{url_for('home1')}}">Home</a>
        <a href="{{url_for('createhabits')}}">My Habits</a>
        <h1>Habit Hero</h1>
        <a href="{{url_for('habitats')}}">Habitats</a>
        <a href="{{url_for('profile')}}">
            <img class="profilePicture" alt="profile picture" src="{{ url_for('static', filename='images/profile_uploads/' + (user.profile_picture or 'profile_default.jpeg')) }}" >
        </a>
    </div>

    <div class="body-content">
        <hr/>
    </div>

    <div class="landingmain">
        <h1>Continue Becoming The Hero You Need</h1>
        <p>Always be ready to enhance your positive habits with friends!</p>

        <div class="joinnow">
            <a href="{{ url_for('habitats') }}">See Your Friends in Your Habitats!</a>
        </div>

        <div class="landingabout">
            <h3>Our Goal</h3>
            <p>We want to create an environment that promotes the creation of better habits. There's no better motivator than your friends.</p>
        </div>
    </div>
</body>

</html>

