<!-- Page Content -->
<div class="page-title"><h1><strong>OVERVIEW</strong></h1></div>
<div class="page-title"><h2 class="bi bi-journal"><strong>Projects</strong></h2></div>
<div class="page-content">
    {% for project in projects %}
        <div class="project">
            <b>
                <p class="ptitle">
                    <a class="plink" href="{{ url_for('project_overview', project_id=project.id) }}">
                        {{ project.title }}
                    </a>
                </p>
            </b>

        </div>
    {% endfor %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script/modal.js') }}"></script>
<script src="{{ url_for('static', filename='init.js') }}"></script>
Project Create Page:
<div class="page">
        {% if project %}
            <form action="{{ url_for('update_project', project_id=project.id) }}" method="post">
        {% else %}
            <form action="create-project" method="post">
        {% endif %}
                <p><label class="bi bi-card-text"><strong>Title</strong></label></p>
                <p class="input-box"><input type="text" name="title" value="{% if project %}{{project.title}} {% endif %}"/></p>
                <p class="grey-button">
                    {% if project %}
                        <input type="submit" value="Update Project"/>
                    {% else %}
                        <input type="submit" value="Create Project"/>
                    {% endif %}
                </p>
            </form>
    </div>