<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
        <div class="navbar">
            <a href="{{url_for('home1')}}">Home</a>
            <a href="{{url_for('createhabits')}}">My Habits</a>
            <h1>Habit Hero</h1>
            <a href="{{url_for('habitats')}}">Habitats</a>
            <a href="{{url_for('logout')}}">Logout</a>
            <a href="{{url_for('profile')}}">
                <img id="profilePicture" alt="profile picture" src="static/images/profile_default.jpeg">
            </a>
        </div>
        <main>
            <div class="container">
                
                <img id="profilePicture2" class="centered" alt="profile picture" src="{{ url_for('static', filename='images/profile_uploads/' + (User.profile_picture or 'profile_default.jpeg')) }}">
                <h1>{{ User.first_name }} {{ User.last_name }}</h1>
                <p>Email: {{ User.email }}</p>

                 <div class="bio-box">
                    <p>Bio: {{ User.bio }}</p>
                </div> 
                


                <form method="POST" action="/profile"  enctype="multipart/form-data">
                    {{ form.hidden_tag() }}              
                    {{ form.profile_picture.label }} {{ form.profile_picture }}
                                
                    <div>
                        {{ form.bio.label }} {{ form.bio }}
                    </div>

                    {{ form.submit }}
                </form>

                <h3>Habitats Created</h3>
                <ul>
                    {% for habitat in habitats %}
                        <li>{{ habitat.title }}</li>
                    {% endfor %}
                </ul>

                <div class = "joinnow">
                    <a href="{{ url_for('home') }}">Log Out</a>
                </div>
            </div>
        </main>
    </body>
    
    </html>