<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="{{url_for('home1')}}">Home</a>
        <a href="{{url_for('createhabits')}}">My Habits</a>
        <h1>Habit Hero</h1>
        <a href="{{url_for('habitats')}}">Habitats</a>
        <a href="{{url_for('profile')}}">
            <img class="profilePicture" alt="profile picture" src="{{ url_for('static', filename='images/profile_uploads/' + (user.profile_picture or 'profile_default.jpeg')) }}" >
        </a>
    </div>
    <main>
        <div class="container">

            <button class="right" id="edit" onclick="toggleEditMode()">Edit profile</button><br><br>
            
            <div class="centered" id="profilePictureEdit">
                <img class="cover" id="cameraEdit" style="display: none;" src="static/images/camera.png">
                <img id="profilePicture2"  alt="profile picture" src="{{ url_for('static', filename='images/profile_uploads/' + (user.profile_picture or 'profile_default.jpeg')) }}">
            </div>
            
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <p class="habitScore">You have {{ user.score }} gems<span class="tooltip"><img src="static/images/question-mark.png"></span></p> 
            <!-- Edit form and bio display -->
            <div id="editFormContainer" style="display: none;">
                <form method="POST" action="/profile" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}                                       
                    {{ form.bio(id="profileTextInput") }} <br>
                    
                    <div style="display: none;">
                        {{ form.submit(id="submit") }}
                        {{ form.profile_picture(id="fileInput") }}    
                    </div>
                </form>
            </div>

            <p id="bio-box" class="centered">{{ user.bio }}</p>
            
            <!-- Habitats -->
            <!-- <h3>Habitats Created</h3>
            <ul>
                {% for habitat in habitats %}
                    <li>{{ habitat.title }}</li>
                {% endfor %}
            </ul> -->

            
            <div class="centered">
                <a class="squaredButton" href="{{url_for('aboutUs')}}">Contact Us</a>
                <div class="spacer"></div>
                <a class="squaredButton" href="{{ url_for('home') }}">Log Out</a>
            </div>

            
        </main>
        <script>
            function toggleEditMode() {
                var editForm = document.getElementById("editFormContainer");
                var bioBox = document.getElementById("bio-box");
                var editButton = document.getElementById("edit");
                var camera = document.getElementById("cameraEdit");
                
                if (editForm.style.display === 'none') {
                    editForm.style.display = 'block';
                    camera.style.display = 'block';
                    bioBox.style.display = 'none';
                    editButton.innerText = "Save edits";
                    
                } else {
                    editForm.style.display = 'none';
                    bioBox.style.display = 'block';
                    camera.style.display = 'none';
                    editButton.innerText = "Edit profile";
                    document.getElementById("submit").click();
                }

            }
            
            document.getElementById("profilePictureEdit").addEventListener("click", function() {
                var editForm = document.getElementById("editFormContainer");
                
                
                if (editForm.style.display === 'block') {
                    document.getElementById("fileInput").click();
                }
            });

            document.getElementById("fileInput").addEventListener("change", function() {
                var fileInput = document.getElementById("fileInput");
                var profilePicture2 = document.getElementById("profilePicture2");
                if (fileInput.files) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        profilePicture2.src = e.target.result;
                    };
                    reader.readAsDataURL(fileInput.files[0]);
                }
            });

            // // Check if there's a file input when the form is submitted
            document.querySelector("form").addEventListener("submit", function () {
                var fileInput = document.getElementById("fileInput");
                var profilePicture2 = document.getElementById("profilePicture2");
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        profilePicture2.src = e.target.result;
                    };
                    reader.readAsDataURL(fileInput.files[0]);
                }
            });
        </script>
    </body>
    </html>