/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --offwhite: #F4F4F6; 
    --lightblue: #A3C3D9;
    --lightpurple: #CCD6EB;
    --whitepurple: #E9ECF5;
    --purple: #AE76A6;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spacer {
    flex-grow: 1;
}

body {
    background-color: var(--lightpurple);
    height: 100%;
}

main {
    /* max-width: 90%; */
    width: 50dvw;
    margin: auto;
}

h1 {
    text-align: center;
}

/* Navigation Bar */

header li, header a {
    font-size: 20px;
    font-weight: 500;
    align-items: center;

}

a:hover {
    opacity: 50%;
}

header {
    width: 100%;
    height: 45px;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    
}

header > * {
    margin: 10px;
}

header > ul {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}

#profilePicture {
    max-width: 30px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    /* margin: 20px; */
}

.habitItem {
    /* Content arrangement */
    display: flex;
    align-items: center;
    margin-top: 10px;

    /* Background styling */
    padding: 10px;
    background-color: var(--offwhite);
    border-radius: 15px;
}

.habitItem * {
    display: flex;
    margin: 5px;
    text-decoration: none;
    align-items: center;
}

.streak {
    display: flex;

    /* Text styling */
    text-align: right;
    font-size: 20px;
    color: #C7C6C6;
}

.habitItem img {
    max-width: 30px;
    max-height: 30px;
    align-items: center;
}

.habitItem > button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#delete_habit {
    max-width: 15px;
    max-height: 15px;
}

/* Login/register css code */
.welcome4 {
    margin-bottom: 90px; /* Adjust the value as needed */
}

.welcome2 {
    margin-bottom: 90px; /* Adjust the value as needed */
}

.container {
    background-color: var(--whitepurple);
    width: 40vw;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; /* Increase padding for better spacing */
}

.joinnow {
    display: inline-block;
    background-color: #F4F4F6;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 40px; 
}

.joinnow a {
    text-decoration: none; /* Remove underline */
    color: #AE76A6; /* Set text color to black */
    font-size: 18px;
}

.container * {
    padding: 5px;
    
}

.title {
    text-align: center;
}

.errors {
    list-style: none;
    color: red;
    font-size: smaller;
}

form * {
    border-radius: 10px;
    border-style: none;
}

.form-group label {
    font-weight: bold;
    text-align: left;
    display: block; /* Display the label on a new line for better alignment */
    /* margin-bottom: 5px; */
}

.form-group input {
    width: 100%;
    padding: 10px;

    /* border-radius: 10px; */
    
}

 form .submit_button {
    width: 100%;
    padding: 10px;
    margin: 20px 0px !important; 

    background-color: var(--lightblue);
    color: white;
    border-radius: 10px;
    border-style: none;
}

/* nav bar css code */

.navbar {
    background-color: #AE76A6; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px; /* Increase padding for better spacing */
}
.navbar h1{
    color: white;
    float: left;
    width: 25%;
    text-align: center;
    margin: 0 15px;
    text-decoration: none;
    font-size: 25px;
}
.nav-button {
    margin-left: 30px; /* Adjust margin for proper spacing */
}

.navbar a:last-child {
    margin-right: 0; /* Remove right margin for the last link */
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px; /* Add some horizontal margin to space out links */
    float: left;
    width: 25%;
    text-align: center;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.nav-button {
    margin-left: 65px;
    margin-right: 230px; /* Adjust the margin as needed to control spacing */
}

.landingmain{
    margin: 10% auto;
    width: 50%;
    text-align: center;
}
.landingmain h1{
    color: black;
    font-size: 40px;
}
.landingmain p{
    font-size: 20px;
}
.landingmain form{
    padding: 20px;
}
.landingmain input[type=submit]{
    background-color: #E9ECF5;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    cursor: pointer;
    color: #AE76A6;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
.landingmain input[type=submit]:hover{
    background-color: #AE76A6;
    color: white;
}
.landingabout h3{
    color: #AE76A6;
}
.landingabout p{
    color: #AE76A6;
    font-size: 18px;
}


/* Button used to open the habit form */
button {
    padding: 16px 20px; 
    margin-top: 10px;

    background-color: var(--purple);
    border-radius: 10px;
    color: white;
    border: none;

    cursor: pointer;
    opacity: 0.8;
    /*position: fixed;*/
    /* display: flex; */
    /* align-items: center; */

}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    justify-content: center;

    top: 30%;  /* Center vertically at 50% from the top of the viewport */
    left: 50%; /* Center horizontally at 50% from the left of the viewport */
    transform: translate(-50%, -30%);

    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: var(--purple);
    width: 100%;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: lightgray;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


/* Habitats Page */
.container_with_sidebar {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.sidebar {
    width: 400px;
    max-width: 25%;
    display: flex;
    flex-direction: column;
}

.habitat_view {
    right: 0;
    min-width: 75%;
    background-color: var(--offwhite);
    
}

.habitat_item {
    display: flex;
    align-items: center;
    margin: 5px;
}

.habitat_icon {
    max-width: 40px;
    max-height: 40px;
    margin: 10px;

    object-fit: cover;
    border-radius: 100%;
    border: solid 2px black;

    align-items: center;
}

/* .habitat_details {
    text-overflow: ellipsis !important;
} */

.centered {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}