/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --offwhite: #F4F4F6; 
    --lightblue: #A3C3D9;
    --lightpurple: #CCD6EB;
    --whitepurple: #E9ECF5;
    --purple: #AE76A6;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spacer {
    flex-grow: 1;
}

body {
    background-color: var(--lightpurple);
    height: 100%;
    margin: 0;  /* Reset default margin */
}

main {
    width: 50vw;
    margin: auto;
}


h1 {
    text-align: center;
}

/* Navigation Bar */

header li, header a {
    font-size: 20px;
    font-weight: 500;
    align-items: center;

}

a:visited { 
    text-decoration: none; 
    color: black;
}

a:hover {
    opacity: 50%;
}

header {
    width: 100%;
    height: 45px;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    
}

header > * {
    margin: 10px;
}

header > ul {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}

.profilePicture {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    /* margin: 20px; */
}

.habitItem {
    /* Content arrangement */
    display: flex;
    align-items: center;
    margin-top: 10px;

    /* Background styling */
    padding: 10px;
    background-color: var(--offwhite);
    border-radius: 15px;
}

.habitItem * {
    display: flex;
    margin: 5px;
    text-decoration: none;
    align-items: center;
}

.habitDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.habitDetails p {
    margin-top: 0;
    margin-bottom: 0;
}

.subHeader {
    text-align: left !important;
    color: gray;
    font-size: smaller;
}

.streak {
    display: flex;

    /* Text styling */
    text-align: right;
    font-size: 20px;
    color: #C7C6C6;
}

.streak img,  .checkmark img {
    max-width: 30px;
    max-height: 30px;
    align-items: center;
}

.habitItem > button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#delete_habit {
    max-width: 15px;
    max-height: 15px;
}

/* Login/register css code */
.welcome4 {
    margin-bottom: 90px; /* Adjust the value as needed */
}

.welcome2 {
    margin-bottom: 90px; /* Adjust the value as needed */
}

.container {
    background-color: var(--whitepurple);
    width: 40vw;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; /* Increase padding for better spacing */
}

.joinnow {
    display: inline-block;
    background-color: #F4F4F6;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 40px; 
}

.joinnow a {
    text-decoration: none; /* Remove underline */
    color: #AE76A6; /* Set text color to black */
    font-size: 18px;
}

.about-button {
    display: inline-block;
    background-color: #F4F4F6;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 40px; 
}

.about-button a {
    text-decoration: none; /* Remove underline */
    color: #AE76A6; /* Set text color to black */
    font-size: 18px;
}

.container * {
    padding: 5px;
}

.title {
    text-align: center;
}

.errors {
    list-style: none;
    color: red;
    font-size: smaller;
}

form * {
    border-radius: 10px;
    border-style: none;
}

.form-group label {
    font-weight: bold;
    text-align: left;
    display: block; /* Display the label on a new line for better alignment */
    /* margin-bottom: 5px; */
}

.form-group input {
    width: 100%;
    padding: 10px;

    /* border-radius: 10px; */
    
}

 form .submit_button {
    width: 100%;
    padding: 10px;
    margin: 20px 0px !important; 

    background-color: var(--lightblue);
    color: white;
    border-radius: 10px;
    border-style: none;
}

/* nav bar css code */

.navbar {
    background-color: #AE76A6; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px; /* Increase padding for better spacing */
}
.navbar h1{
    color: white;
    float: left;
    width: 25%;
    text-align: center;
    margin: 0 15px;
    text-decoration: none;
    font-size: 25px;
}
.nav-button {
    margin-left: 30px; /* Adjust margin for proper spacing */
}

.navbar a:last-child {
    margin-right: 0; /* Remove right margin for the last link */
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px; /* Add some horizontal margin to space out links */
    float: left;
    width: 25%;
    text-align: center;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.nav-button {
    margin-left: 65px;
    margin-right: 230px; /* Adjust the margin as needed to control spacing */
}

.landingmain{
    margin: 10% auto;
    width: 50%;
    text-align: center;
}
.landingmain h1{
    color: black;
    font-size: 40px;
}
.landingmain p{
    font-size: 20px;
}
.landingmain form{
    padding: 20px;
}
.landingmain input[type=submit]{
    background-color: #E9ECF5;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    cursor: pointer;
    color: #AE76A6;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
.landingmain input[type=submit]:hover{
    background-color: #AE76A6;
    color: white;
}
.landingabout h3{
    color: #AE76A6;
}
.landingabout p{
    color: #AE76A6;
    font-size: 18px;
}


/* Button used to open the habit form */
button {
    padding: 16px 20px; 
    margin-top: 10px;

    background-color: var(--purple);
    border-radius: 10px;
    color: white;
    border: none;

    cursor: pointer;
    opacity: 0.8;
    /*position: fixed;*/
    /* display: flex; */
    /* align-items: center; */

}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    justify-content: center;

    top: 30%;  /* Center vertically at 50% from the top of the viewport */
    left: 50%; /* Center horizontally at 50% from the left of the viewport */
    transform: translate(-50%, -30%);

    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: var(--purple);
    width: 100%;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: lightgray;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


/* Habitats Page */
.container_with_sidebar {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.sidebar {
    width: 400px;
    max-width: 25%;
    display: flex;
    flex-direction: column;

}

.habitat_view {
    right: 0;
    min-width: 75%;
    background-color: var(--offwhite);
    padding: 20px;
    
    display: flex;
    flex-direction: column;
}

.habitat_view * {
    margin: 5px;
}

.vertically {
    margin: auto;
}

#chatroomLink {
    background-color: var(--purple);
    color: white;
    padding: 7px;
    text-align: center;
    width: 150px;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
}

.habitat_item {
    display: flex;
    align-items: center !important;
    margin: 0;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    color: black;
}
#habits-list {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

.habitItem {
    list-style: none;
}
.habitItem:hover {
    outline: 2px solid #AE76A6; 
    cursor: grab;
}

.habitItem:hover button {
    outline: none; 
}

.sidebar > .habitat_item {
    border-top: solid 3px;
    border-image: 
      linear-gradient(
        90deg, 
        rgba(0, 0, 0, 0),
        var(--lightblue), 
        rgba(0, 0, 0, 0)
      ) 1;
}
.selected_habitat, 
.selected_habitat + .habitat_item,  
.habitat_item:first-of-type
{
    margin-top: 3px;
    border: none;
}

.selected_habitat {
    background-color: var(--lightblue);
    opacity: 100% !important;
    border-radius: 15px;
}

.habitat_icon {
    width: 50px;
    height: 50px;
    margin: 10px;

    object-fit: cover;
    border-radius: 100%;
    border: solid 2px black;

    align-items: center;
}

.memberItem {
    /* Content arrangement */
    display: flex;
    align-items: center;
    min-width: 100%;

    /* Background styling */
    padding: 10px;
    background-color: white;
    border-radius: 15px;
}

.memberItem * {
    margin: 5px;
    text-decoration: none;
}

.profileIcon {
    width: 50px;
    height: 50px;
    margin: 10px;

    margin-right: 0px;

    object-fit: cover;
    border-radius: 100%;
    border: solid 2px black;

    align-items: center;
}

#memberList {
    margin: 10px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

/* .habitat_details {
    text-overflow: ellipsis !important;
} */

.centered {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* profile pic on nav bar*/
.forPic{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px; 
    max-height: 50px
}
/* chatroom css */

#messages {
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin: 20px;
}

.message {
    margin: 5px;
    padding: 10px;
    border-radius: 100px;
    background-color: var(--lightblue);
}

.announcement {
    color: gray;
    text-align: center;
}

.received {
    background-color: #7e3a3a !important; /* Light grey for received messages */
}

#message_input_form {
    width: 100%;
    border-radius: 100px;
    border: solid 2px var(--lightblue);
    display: flex;
}

#message_input {
    width: 100%;
    margin-left: 10px;
    background-color: var(--whitepurple);
    outline: none !important;
}

#send_button {
    margin: 0;
    background-color: var(--whitepurple);
}

#send_message_icon {
    width: 30px;
}

.habitat-details {
    text-align: center; 
}

.habitat-details h2 {
    font-size: 24px; 
    color: #333; 
    margin-bottom: 10px; 
}

.habitat-details .habitat-image {
    max-width: 100%; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
}

.members-list p {
    margin-bottom: 8px; 
}


.habitat_view .flame-icon {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
    vertical-align: middle;
}

#profilePicture2 {

    border-radius: 50%; 
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.cover {
    /* object-fit: cover; */
    z-index: 5;
    position: absolute;
    width: 100px; /* Set the desired width */
    height: 100px; /* Set the desired height */
    margin: 0;
    margin-bottom: 5px;
    opacity: 40%;
}

.habitScore {
    text-align: center;
    margin-top: -10px;
    font-size: smaller;
    margin-bottom: 20px;

}

.squareButton {
    
}

.right {
    float: right;
    margin: 0;
}

#profileTextInput {
    width: 100%;
    padding: 10px; /* Adjust the padding as needed */
    border-radius: 5px; /* Add rounded corners if desired */
}

#profilePictureEdit {
    margin-top: -10px;
}

#bio-box {
    background-color: white; /* Set your desired background color */
    padding: 10px; /* Adjust the padding as needed */
    border-radius: 5px; /* Add rounded corners if desired */
    margin-bottom: 20px;
}
/* .sent {
    background-color: #007bff; 
    color: white;
    align-self: flex-end; 
} */

/* .username {
    font-weight: bold;
    margin-right: 5px;
} */
/*
.autocomplete {
    the container must be positioned relative:
    position: relative;
    display: inline-block;
  }

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }*/
 /* .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    position the autocomplete items to be the same width as the container:
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }*/
  /*.autocomplete-items div:hover {
    when hovering an item:
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    when navigating through the items using the arrow keys:
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
*/

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add some margin for spacing */
    border-radius: 35px;
    width: 400px; 
}
.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px; /* Adjust font size as needed */
    border-radius: 35px;
    width: 400px; 
}
.search-button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #AE76A6;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px; /* Adjust font size as needed */
}
/* Hover effect for the button */
.search-button:hover {
    background-color: #ccc;
    border-radius: 35px;
}

.open-invitation-form {
    position: fixed;
    bottom: 10px; /* Adjust the bottom value as needed */
    z-index: 2; /* Ensure the button is above other elements */
}

.invitation-form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background: white;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the close button in the pop-up form */
.invitation-form-popup .cancel {
    background-color: #ccc;
}